title {
    
    color: rgb(2, 0, 4)
} 
h1
{color:rgb(4, 0, 8)}
h2 {
    color:rgb(0, 0, 25)
}
body
{
    background-color: rgb(206, 110, 174);
    font size: 50 px;
    color: rgb (0, 0, 25)}
    body {text-align: center;}
    
}
