title {    color: rgb(20, 2, 39)}
    title
    {text-align: right;}
.h1
{color:rgb(55, 4, 30);
text-align: center;
border: 1px rgb(242, 173, 193);}

.h2 {color:rgb(34, 3, 19);
text-align: center;}

.titulo{height: 15%;
width: 25%;
border: 1px solid rgb(72, 3, 47);
margin: 50px;
display: block;}
body
    {background: rgb(238, 196, 220);
    font-size: 35px;
    color: rgb(205, 83, 146);}
.p
{text-align: justify;}
.pa {text-align: center;
font-size: 40px;
color:rgb(55, 4, 30);}
.p1
    {text-align: center;
    font-size: 40px;
    color:rgb(55, 4, 30);}
    .p1a
    {text-align: justify;}
.ferramenta1{ height: 25%;
width: 30%;
border: 1px solid rgb(72, 3, 48);}

.ferramenta2{ height: 25%;
width: 30%;
border: 1px solid rgb(57, 4, 35);}

.ferramenta3{ height: 25%;
width: 30%;
border: 1px solid rgb(59, 8, 50);}

.ferramenta4{ height: 25%;
width: 30%;
border: 1px solid rgb(53, 4, 30);
margin: 60pt;}

.ferramenta5{  
height: 25%;
width: 30%;
border: 1px solid rgb(58, 2, 42);
margin: 60pt;}

     

